$colored-sidebar: 'false';

$tepid-green: #447923;
$tepid-green-light: #7ca165;
$david-purple: #675ce2;
$david-purple-light: #a39ded;

$accent-color-light: $david-purple-light;
$accent-color: $david-purple;
//$accent-color-light: $tepid-green-light;
//$accent-color: $tepid-green;


body {
	margin: 0; padding: 0;
	background-color: #F1F1F1;
	font-family: 'Open Sans', sans-serif;
	color: #333;
}


a {
	color: $accent-color;
}


aside {
	position: absolute;
	top: 0; left: 0; bottom: 0;
	width: 14.5rem;
	overflow-y: auto;

	@if $colored-sidebar == 'true' {
		background-color: $accent-color;
	}
}

aside h1 {
	text-align: center;
	color: rgba(0, 0, 0, 0);
	margin: 2rem 0 1rem 1.8rem;

	@if $colored-sidebar == 'true' {
		margin: 2rem 0 1rem 0;
	}
}
aside h1 img {
	display: block;
	width: 40%;
	margin: auto;
	filter: invert(100%);
	opacity: 0.7;

	@if $colored-sidebar == 'true' {
		filter: invert(0%);
		opacity: 1;
	}
}

aside nav hr {
	height: 1rem;
	margin: 0;
	border: none;
}

aside nav ul {
	list-style: none;
	padding: 0 1.5rem; margin: 0;
}

aside nav ul li {
	padding-bottom: 0.5rem;
	font-size: 0.85rem;
	color: #666;

	@if $colored-sidebar == 'true' {
		padding-bottom: 0.8rem;
		color: rgba(255, 255, 255, 0.75);
	}
}
aside nav ul li a {
	color: inherit;
	text-decoration: none;
}

aside nav ul li:hover, aside nav ul li .active {
	color: #333;
	transition: color 0.2s;

	@if $colored-sidebar == 'true' {
		color: rgba(255, 255, 255, 0.95);
	}
}

aside nav ul li i.material-icons {
	font-size: 1.2rem;
	vertical-align: top;
	margin-right: 0.5rem;
	margin-top: 0.05rem;
	opacity: 0.7;
}
aside nav ul li .active i.material-icons {
	color: $accent-color;
	opacity: 0.9;

	@if $colored-sidebar == 'true' {
		color: rgba(255, 255, 255, 0.95);
	}
}
aside nav ul li:hover i.material-icons {
	opacity: 0.9;
	transition: opacity 0.2s;
}


main {
	position: absolute; top: 0; left: 14.5rem; right: 0; bottom: 0;
	overflow-y: auto;
}
main.no-sidebar, main.hidden-sidebar {
	left: 0;
}

main header {
	background-color: #F1F1F1;
	box-sizing: border-box;
	padding: 1.2rem 0.4rem 1.2rem 1.8rem;
	display: flex;
	flex-direction: row;
	height: 4.6rem;

	position: fixed; top: 0; left: 14.5rem; right: 1.4rem;
	z-index: 10;
}
main header .header-left {
	flex: 1;
	position: relative;
}
main header .header-right {
	flex: 1;
	text-align: right;
}
main header .header-right div#header-user-dropdown {
	position: relative;
	display: inline-block;
	font-weight: 600;
	font-size: 0.9rem;
	color: #666;
	text-decoration: none;
	line-height: 2rem;

	cursor: pointer;

	transition: color 0.15s;

	i.material-icons {
		vertical-align: top;
		font-size: 1.2rem;
		margin-top: 0.4rem;
	}

	ul {
		position: absolute;
		top: 1rem; right: 0;
		background-color: #FEFEFE;
		list-style: none;
		padding: 0; margin: 0;
		border-radius: 4px;

		opacity: 0;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

		pointer-events: none;

		li {
			padding: 0 1.4rem;
			height: 1.8rem;
			line-height: 1.8rem;
			font-weight: normal;
			text-align: left;

			color: #666;
			transition: color 0.15s;

			a {
				color: #666;
				text-decoration: none;
				transition: color 0.15s;
			}

			&:hover {
				color: #7A7A7A;
				transition: color 0.15s;

				a {
					color: #7A7A7A;
					transition: color 0.15s;
				}
			}

			&:first-child {
				padding-top: 0.5rem;
			}
			&:last-child {
				padding-bottom: 0.5rem;
			}
		}

		transition: opacity 0.2s ease-in-out, top 0.2s ease-in;
	}

	&:hover {
		color: #777;
		transition: color 0.15s;

		ul {
			top: 2rem;
			opacity: 1;
			transition: opacity 0.2s ease-in-out, top 0.2s ease-out;
			pointer-events: all;
		}
	}
}
main header .header-left i.material-icons {
	color: #AAA;
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	font-size: 1.3rem;
}
input#header-user-search {
	border: 1px solid white;
	height: 2.2rem;
	line-height: 2.2rem;
	width: 80%;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 0.4rem 0.6rem 0.4rem 2rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
	font-size: 0.85rem;
	font-family: 'Open Sans', sans-serif;
	color: #333;

	transition: border-color 0.2s ease-in-out, width 0.3s ease-in-out;
}
input#header-user-search:focus, input#header-user-search:active {
	border-color: $accent-color-light;
	outline: none;
	width: 95%;

	transition: border-color 0.2s ease-in-out, width 0.3s ease-in-out;
}

main section#page-content {
	margin: 4.6rem 1.8rem 2rem 1.8rem;
	padding-top: 0.1rem;
}


.card {
	box-sizing: border-box;
	background-color: #FEFEFF;
	border-radius: 4px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
	padding: 1.4rem 1.8rem;
	margin-bottom: 1.4rem;
	overflow: hidden;
}
.card > h2 {
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	color: #444;
	font-size: 1.5rem;
	font-weight: 600;
}
.card > h2:first-child {
	margin-top: 0;
}
.card.no-padding > h2 {
	margin-top: 1.2rem;
	padding: 0 1.8rem;
}

.card h3 {
	color: #444;
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.6rem;
}

.card p, .card dt, .card dd {
	font-size: 0.9rem;
	line-height: 1.4rem;
}

.card.no-padding {
	padding: 0;
}


nav.card-tabs {
	float: right;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.13);
	background-color: #FDFDFD;

	&.small ul li {
		height: 1.8rem;
		line-height: 1.8rem;

		i.material-icons {
			line-height: 1.8rem;
		}
	}

	&.small.icons-only ul li {
		padding: 0 0.3rem;
	}
}
nav.card-tabs ul {
	display: flex;
	list-style: none;
	padding: 0; margin: 0;
}
nav.card-tabs ul a {
	text-decoration: none;
}
nav.card-tabs ul li {
	height: 2rem;
	flex: 1;
	font-size: 0.9rem;
	font-weight: normal;
	color: #888;
	padding: 0 1rem;
	text-align: center;
	line-height: 2rem;
	border-left: 1px solid rgba(0, 0, 0, 0.06);

	i.material-icons {
		line-height: 2rem;
	}
}
nav.card-tabs.icons-only ul li {
	padding: 0 0.5rem;
}
nav.card-tabs ul a:first-child li {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-left: none;
}
nav.card-tabs ul a:last-child li {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
nav.card-tabs ul a.active li {
	font-weight: 600;
	color: #777;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	background-color: #F9F9F9;
}


div.row, div.flex-row-container {
	display: flex;
	flex-direction: row;
}
div.col {
	box-sizing: border-box;
	border-left: 1px solid rgba(0, 0, 0, 0.08);
	padding: 1.4rem 1.8rem;
	overflow-x: hidden;
	overflow-y: auto;
	flex: 1;
}
div.col:first-of-type {
	border-left: none;
}
div.col.no-borders {
	border-left: none;
}

.printer-status-display {
	text-align: center;
	margin-bottom: 0.6rem;
	font-size: 0;
}
.printer-status-display i.material-icons {
	font-size: 6rem;
	display: inline-block;
}
.printer-status-display i.material-icons:first-of-type {
	position: relative;
	z-index: 6;
	width: 3rem;
	overflow: hidden;
	color: #F44336;
}
.printer-status-display i.material-icons:last-of-type {
	position: relative;
	z-index: 5;
	margin-left: -3rem;
	overflow: hidden;
	color: #4D983E;
}

.printer-status {
	text-align: center;
	justify-content: center;
	display: flex;
	margin-bottom: 0.8rem;
	flex: 1;
	text-decoration: none;
	color: #555;
}
.printer-status i.material-icons {
	font-size: 1.2rem;
	vertical-align: top;
	margin-top: 1px;
}
.printer-status i.material-icons.up {
	color: #4D983E;
}
.printer-status i.material-icons.down {
	color: #F44336;
}

div.dash-printer h2 {
	text-align: center;
	margin: 0 0 0.6rem 0;
	color: #444;
	font-weight: 600;
}

table.dash-printer-queue {
	width: 100.1%;
	table-layout: fixed;
	border-collapse: collapse;
}

table.dash-printer-queue thead {
	background-color: #F5F5F5;
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
}

table.dash-printer-queue thead th {
	padding: 0.35rem 0.6rem;
	box-sizing: border-box;
	font-size: 0.75rem;
	color: #777;
	text-transform: uppercase;
	text-align: left;
	font-weight: 600;

	&:first-child {
		padding-left: 1rem;
	}
	&:last-child {
		padding-right: 1rem;
	}
}

table.dash-printer-queue tbody tr {
	border-top: 1px solid #F3F3F3;
}
table.dash-printer-queue tbody tr:nth-child(2n) {
	background-color: #FAFAFA;
}

table.dash-printer-queue tbody tr.failed {
	background-color: #FFF0F0;
	border-top: 1px solid #EDD;
	td {
		color: #6d4849;
	}

	& + tr {
		border-top: 1px solid #EDD;
	}
}

table.dash-printer-queue tbody td {
	padding: 0.45rem 0.6rem;
	box-sizing: border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 0.82rem;
	color: #5A5A5A;

	&:first-child {
		padding-left: 1rem;
	}
	&:last-child {
		padding-right: 1rem;
	}
}

table.dash-printer-queue tbody td i.material-icons {
	position: relative;
	top: 0.2rem;
	font-size: 1.1rem;
	color: #AAA;
}


table.job-list {
	width: 100.1%;
	table-layout: fixed;
	border-collapse: collapse;
}

table.job-list thead {
	background-color: #F5F5F5;
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
}

table.job-list thead th {
	padding: 0.35rem 0.6rem;
	box-sizing: border-box;

	font-size: 0.75rem;
	color: #777;
	text-transform: uppercase;
	text-align: left;
	font-weight: 600;

	&:first-child {
		padding-left: 1rem;
	}
	&:last-child {
		padding-right: 1rem;
	}
}

table.job-list tbody tr {
	border-top: 1px solid #F3F3F3;
}
table.job-list tbody tr:nth-child(2n) {
	background-color: #FAFAFA;
}
table.job-list tbody tr:first-child {
	border-top: none;
}

table.job-list tbody tr.failed {
	background-color: #FFF0F0;
	border-top: 1px solid #EDD;
	td {
		color: #6d4849;
	}

	& + tr {
		border-top: 1px solid #EDD;
	}
}

table.job-list tbody td {
	padding: 0.45rem 0.6rem;
	overflow: hidden;

	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.82rem;
	color: #5A5A5A;

	&:first-child {
		padding-left: 1rem;
	}
	&:last-child {
		padding-right: 1rem;
	}
}

table.job-list tbody td i.material-icons {
	position: relative;
	top: 0.2rem;
	font-size: 1.1rem;
	color: #AAA;
}

div.table-nav {
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	padding: 1rem 1.8rem;

	display: flex;

	.page-text {
		flex: 1;
		color: #999;
		font-size: 0.8rem;
		line-height: 1.8rem;
	}

	.page-buttons {
		flex: 1;
		text-align: right;

		a {
			cursor: pointer;
		}
	}
}


.text-center {
	text-align: center;
}
.no-padding {
	padding: 0 !important;
}
.no-side-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-bottom-padding {
	padding-bottom: 0 !important;
}


.user-profile > div.row:first-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.user-profile div.fac-dept {
	margin-top: 1.35rem;
	margin-right: 1.8rem;
	text-align: right;
	color: #AAA;
	font-size: 1.2rem;
	font-style: italic;
}

.user-profile h2 {
	margin-top: 0;
	color: #444;
	font-size: 1.5rem;
	font-weight: 600;
	padding: 1.2rem 1.8rem;
	margin-bottom: 0;
}

.user-profile hr {
	border: none;
	margin: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.user-profile h2 .badge {
	display: inline-block;
	padding: 0.3rem 0.6rem;
	border-radius: 1rem;
	margin-left: 0.6em;
	margin-top: 0.2rem;
	font-size: 0.9rem;
	vertical-align: top;
	background-color: $accent-color;
	color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.user-profile h3 {
	margin: 0;
	padding: 1.2rem 1.8rem;
}

.user-profile .flex-row-container {
	padding: 1.4rem 1.8rem;
}
.user-profile .user-profile-details {
	line-height: 1.4rem;
	font-size: 0.9rem;
}

.user-profile .quota-label {
	margin-right: 1.4rem;
	padding-top: 0.25rem;
	color: #555;
	font-weight: 600;
}
.user-profile .quota-bar {
	flex: 1;
	position: relative;
	background-color: #EEE;
	border-radius: 1rem;
	height: 2rem;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}
.user-profile .quota-bar.loading:before {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	display: block;
	text-align: center;
	line-height: 2rem;
	font-size: 0.8rem;
	color: rgba(0, 0, 0, 0.4);
	content: "Loading...";
}
.user-profile .quota-bar .quota-inner-bar {
	box-sizing: border-box;
	margin: 0.3rem 0.35rem;
	padding-right: 0.6rem;
	height: 1.4rem;
	min-width: 1.4rem;
	background-color: $accent-color;
	border-radius: 0.7rem;
	text-align: right;
	overflow: hidden;
	font-size: 0.7rem;
	line-height: 1.4rem;
	color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
	opacity: 1;
	transition: opacity 0.1s ease-in-out, width 0.3s ease-in-out;

	strong {
		font-weight: 600;
	}
}
.user-profile .quota-bar.loading .quota-inner-bar {
	opacity: 0;
	width: 8rem !important;
}


div.text-log {
	padding: 1.4rem 1.8rem;
	background-color: #073642;
	color: #93a1a1;
	font-family: monospace;
	overflow-x: auto;
	white-space: nowrap;
}


input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
	border: 1px solid rgba(0, 0, 0, 0.20);
	height: 2rem;
	line-height: 2rem;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 0 0.6rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
	font-size: 0.8rem;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	transition: border-color 0.1s ease-in-out;
}
input[type="text"]:focus, input[type="text"]:active,
input[type="email"]:focus, input[type="email"]:active,
input[type="password"]:focus, input[type="password"]:active,
input[type="number"]:focus, input[type="number"]:active {
	border-color: $accent-color-light;
	outline: none;
	transition: border-color 0.1s ease-in-out;
}

button {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.20);
	background-color: #FDFDFD;

	height: 2rem;
	font-size: 0.9rem;
	font-weight: normal;
	color: #888;
	padding: 0 1rem;
	text-align: center;
	line-height: 1.9rem;

	transition: box-shadow 0.2s ease-in-out;
}
button.primary {
	background-color: $accent-color;
	color: rgba(255, 255, 255, 0.9);
}

button:hover {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s ease-in-out;
}



img#login-logo {
	position: fixed;
	top: 5vh; left: 50%;
	height: 25vh; width: auto;
	transform: translateX(-50%);
}


form#login-form {
	position: fixed;
	top: 35vh; left: 50%;
	max-width: 100%;
	width: 30rem;
	box-sizing: border-box;
	transform: translateX(-50%);
	padding: 0 2rem;

	label {
		font-weight: 600;
		font-size: 0.9rem;
		display: block;
		margin: 0.6rem 0 0.3rem 0;

		&:first-of-type {
			margin-top: 0;
		}
	}

	input[type="text"], input[type="password"] {
		width: 100%;
		height: 2.4rem;
		padding: 0 0.7rem;
		line-height: 2.4rem;
	}

	button {
		margin-top: 1.2rem;
	}
}
